

:root {
    /* grid variables */
    --rows: 11;
    --columns: 11;
    --minimum-tile-size: 5px;
    --tile-size: min(5vw, 5vh);
    --maximum-tile-size: 20px;

    /* d pad variables */
    --button-size: 10vw;

    /* calculated variables */
    --min-height: calc(var(--tile-size) * var(--rows));
    --min-width: calc(var(--tile-size) * var(--columns));

    /* color variables */
    --color-snake-orange: #F8B392;
    --color-snake-yellow: #F6F7B0;
    --color-snake-green: #A0CFA2;
    --color-snake-blue: #71BEE7;
    --color-snake-purple: #8380B3;

    /* 333333, 444444 */
    
    --color-score: white;
    --color-score-background: #A37067;
    --color-score-background-border: #B8918A;

    --color-snake: #93B5A2;
    --color-food: #FF5367;
    --odd-color: #A37067;
    --even-color: #B8918A;
    --color-background: #59797D; 
    --button-color: #93B5A2;
    --button-pressed-color: #B8D1C1;
    --color-game-text-background: rgba(255, 83, 103, 90%);
    --color-game-text: rgba(147, 181, 162, 100%);
}

.palletes {

    /* coral */
    /* snake: #18ACBA */
    /* odd: #F76566 */
    /* even: #FFA998 */
    /* background?: #FFC397 */

    /* next: 
    --color-snake: #93B5A2;
    --odd-color: #A37067;
    --even-color: #B8918A;
    --color-background: #59797D; */

/* 
    --color-snake: #93B5A2;
    --color-food: #FF5367; */

}
@keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

* {
    margin: 0;
    background-color: var(--color-background);
    user-select: none;
}

*:focus {
    outline: none;
}

.world {

    /* responsive world size */
    min-height: var(--min-height);
    min-width: var(--min-width);

    justify-content: center;
    display: flex;
    margin-top: 50px;
    padding: 10px;
}


.grid {
    position: absolute;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 50%); 
}

.grid div {
    height: var(--tile-size);
    width: var(--tile-size);
    box-sizing: border-box;
    border: rgba(22, 22, 22, 30%) 1px solid;
}

.game-text {
    position: absolute;
    top: 24%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Ensure it's above the game board */
    text-align: center;
    border-radius: 2rem;
    padding: 3rem;

    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 50%); 
    color: var(--color-game-text);
    background-color: var(--color-game-text-background);
}

/* controls */

.controls {

    /* responsive world size */
    min-width: var(--min-width);

    /* center */
    display: flex;
    justify-content: center;

    margin-top: 10vh;
}

.movement {
    max-width: 400px;
    padding: 10px;
    gap: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.button {
    min-height: var(--button-size);
    min-width: var(--button-size);

    border: none;

    border-radius: 0.5rem;
    
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 50%); 

    background-color: var(--button-pressed-color);
}

.button img {
    background-color: transparent;
    height: 4rem;
}

button:not(:active) {
    background-color: var(--button-color);
    transition: background-color 0.15s ease;
}

.button-up {
    grid-column: 2;
}

.button-left {
    grid-column: 1;
}

.button-down {
    grid-column: 2;
}

.button-right {
    grid-column: 3;
}

.fade {
    animation: fadeOut 0.5s ease;
}

.hide {
    display: none;
}


#game-board {
    position: absolute;
    display: grid;
    width: calc(var(--tile-size) * var(--columns));
    background-color: transparent;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
}


#game-board  div {
    height: var(--tile-size);
    width: var(--tile-size);
}

.snake {
    background-color: var(--color-snake);
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 25%); 
    box-sizing: border-box;
    border: rgba(22, 22, 22, 50%) 1px solid;
}

.food {
    background-color: var(--color-food);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 50%); 
    box-sizing: border-box;
    border: rgba(22, 22, 22, 50%) 1px solid;
}
.oswald-font {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 24;
    font-style: normal;
}

.game-info-container {
    width: 100%;
    justify-content: center;
    display: flex;
}

.game-info {
    width: calc(var(--tile-size) * var(--columns));
    display: flex;
    position: relative;
}

.score {
    display: flex;
    background-color: var(--color-score-background);
    color: var(--color-score);
    padding: 1rem;
    padding-top: -50rem;
    border: var(--color-score-background-border) 0.1rem solid;
    border-top: 0;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.score p {
    background-color: transparent;
    padding-left: 0.5rem;
}

.high-score {
    margin: 0 auto;
}

.current-score {
    margin: 0 auto;
}