body {
 background: black;
 margin: 0;
 display: block;
}

.top {
    display: flex;
    font-size: 75px;
    width: 100%;
    height: fit-content;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sunset {
    position: relative;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(  rgb(239, 82, 0), rgb(254, 105, 0), rgb(254, 135, 0), rgb(270, 117, 77) 80%);
    width: 100%;
    height: 6em;
}

.beach {
    margin-top: 6em;
    transform-style: preserve-3d;
    position: relative;
    height: 2.5em;
    width: 200%;
    border-radius: 35%;
    background-image: repeating-conic-gradient(from 0deg, rgb(188, 61, 16) 0deg 0.00003deg, rgb(167, 70, 20) 0.00003deg 0.00006deg);
}

.sun {
    margin: 0;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-image: radial-gradient(white, yellow 150%);
    transform: translateZ(-100px);
}

.sunbox {
    margin: 0;
    position: relative;
    transform: translate(2em, -1.5em);
    width: 3em;
    height: 3em;
    border-radius: 50%;
    transform-style: preserve-3d;
}

.heading {
    position: relative;
}

.navbar {
    position: relative;
    margin: 0;
    height: 2em;
    background-color: #f4e0a0;
}
