body {
 background: black;
 margin: 0;
 display: block;
}

.top {
    display: flex;
    font-size: 75px;
    width: 100%;
    height: fit-content;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sunset {
    position: relative;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(  rgb(239, 82, 0), rgb(254, 105, 0), rgb(254, 135, 0), rgb(270, 117, 77) 80%);
    width: 100%;
    height: 3.5em;
}

.beach {
    margin-top: 3.5em;
    transform-style: preserve-3d;
    position: relative;
    height: 1.6em;
    width: 200%;
    min-width: 12em;
    border-top-left-radius: 35%;
    border-top-right-radius: 35%;
    background-color: #4B3621;
}

.sun {
    margin: 0;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-image: radial-gradient(white, yellow 150%);
    transform-style: preserve-3d;
    transform: translateZ(-100px);
}

.sunbox {
    margin: 0;
    position: relative;
    transform: translate(2em, -1.5em);
    width: 3em;
    height: 3em;
    transform-style: preserve-3d;
}

.heading {
    transform: translateZ(100px);
    padding-top: 0.75em;
    font-size: 0.9em;
    display: flex;
}

.theslayr {
    font-size: 0.5em;
    padding-top: 0.95em;
}

.navbar {
    position: relative;
    margin: 0;
    height: 2em;
    background-color: #f4e0a0;
}
