body {
 background: rgb(54, 54, 54);
 color: black;
 margin: 0;
 display: block;
}

.top {
    display: flex;
    font-size: 75px;
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
}

.sunset {
    position: relative;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(  rgb(239, 82, 0), rgb(254, 105, 0), rgb(254, 135, 0), rgb(270, 117, 77) 80%);
    width: 100%;
    height: 2em;
}

.beach {
    margin-top: 1em;
    transform-style: preserve-3d;
    position: relative;
    height: 1em;
    width: 200%;
    min-width: 12em;
    border-top-left-radius: 35%;
    border-top-right-radius: 35%;
    background-color: #4B3621;
}

.sun {
    margin: 0;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-image: radial-gradient(white, yellow 150%);
    transform-style: preserve-3d;
    transform: translateZ(-100px);
}

.sunbox {
    margin: 0;
    position: relative;
    transform: translate(2em, -1.5em);
    width: 3em;
    height: 3em;
    transform-style: preserve-3d;
}

.heading {
    transform: translateZ(100px);
    padding-top: 0.75em;
    font-size: 0.9em;
    display: flex;
}

.theslayr {
    font-size: 0.5em;
    padding-top: 0.95em;
}

.spacer {
    position: relative;
    height: 0.5em;
    background-color:#A67B5B;
}

.navbar {
    position: relative;
    height: 2.5em;
    background-color:rgb(54, 54, 54);
}

.donate {
    display: flex;
    font-size: 75px;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.donate-text {
    position: relative;
    margin: 0;
    display: flex;
    font-size: 26px;
    justify-content: center;
    align-items: center;
}
.donate-button {
    position: relative;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    color: black;
    height: 1em;
    background-color: #A67B5B;
    border-radius: 0.25em;
    border-style: solid;
    border-color: #4B3621;
    border-width: 0.05em;
    transition: 0.45s;
}

.donate a:hover {
    border-color: #A67B5B;
    background-color: #4B3621;
    color: whitesmoke;
    transition: 0.45s;
}